<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messageboard</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div> 
        <h1> The Messageboard</h1>
    <% for(var i=0; i<messages.length; i++) {%>
        <tr>
            <div class = "container1">
                <h3> Messages # <%= i + 1 %> </h3>
                <section id = "showorhide-<%= i %>" style="display:none;">
                    <%= messages[i].text%>
                    <h3> User Name </h3>
                    <%= messages[i].user%>
                    <h3> Date </h3>
                    <%= messages[i].added%>
                </section>
                <button id = 'expand_collapse_button' onclick="ShowAndHide('<%= i %>')"> Expand/Collapse</button>
                <br> <br>
            </div>
        </tr>
    <% } %>
    </div>

    <a href="/new">
        <input type="button" id = "send_button" value="Send me something" />
     </a>

     <script src="main.js"></script>
</body>